*,
:after,
:before {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}
hr {
  border-top-width: 1px;
}
img {
  border-style: solid;
}
ol,
ul {
  margin: 0;
  padding: 0;
}
ol,
ul {
  list-style: none;
}
